{% extends "master.html" %}

{% block title %}
CCN community
{% endblock %}

{% block content %}
<div class="m-3">
    <div class="row m-3">
        <select class="col-3 mx-2" name="searchOption">
            <option>Select</option>
            <option value="session">Session</option>
            <option value="department">Department</option>
        </select>
        <input class="col-3 mx-2" placeholder="Search here ..." name="searchKey" id="searchKey" onkeyup="updateTable()">
    </div>
    <table class="table table-success table-striped m-3 table-hover m-auto" id="myTable"
        style="width: 98%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Session</th>
                <th>Department</th>
                <th>Profession</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for alumni in all_alumni %}
                <tr>
                    <td>{{alumni.fullName}} </td>
                    <td>{{alumni.session}}</td>
                    <td>{{alumni.department}}</td>
                    <td>{{alumni.profession}}</td>
                    <td>{{alumni.user.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
  function myFunction() {
    
    }
  </script>
{% endblock %}

{% block footer %}
{{block.super}}
{% endblock %}