{% extends "master.html" %}

{% block title %}
  CCN community
{% endblock %}

{% block content %}
<!-- <div class="container-fluid text-center" style="margin: -16px 0px; height: 100vh;">
    <div class="bg-danger mx-auto" style="border: 1px solid rgb(34, 19, 19);
     font-family: cursive, 'Brush Script MT'; width: 800px; background-image: 
     url(static/img/uni.jpg); background-repeat: no-repeat; background-position: 
     center; filter: blur(5px);">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <h1>Help and connect with everybody by exchanging yours need</h1>
            <p>Seniors can upload their questions and books</p>
            <p>Juniors take help from your junior by fulfilling your seeks</p>
        </div>
    </div>
</div> -->
<style>
    img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
</style>
<div class="container-fluid text-center" >
    <img src="static/img/uni.jpg" style="filter: blur(5px); height: 100vh; width: 100%;">
    <div class="mx-auto " style="background-color: #b7b7b77d; border: 1px solid rgb(164, 163, 163);
    font-family: Helvetica, Arial; width: 800px;">
        <h1 class="fw-bold my-5">Welcome to CCN Community</h1>
        <h3 class="my-3">Help and connect with everybody by exchanging yours need</h3>
        <span class="my-4">Seniors can upload their questions and books</span> <br>
        <span class="my-4">Juniors take help from your junior by fulfil your seeks</span>
        <div class="m-5">
            <ul>
              <li>
                <a  class="m-3 p-3 text-white" href="/login/"style="border: 2px solid white; text-decoration:none;">Admin</a>
                <a class="m-3 p-3 text-white"href="/login/" style="border: 2px solid white; text-decoration:none;">Student</a>
              </li>
            </ul>
        </div>
    </div>
  </div>
{% endblock %}