{% extends "master.html" %}

{% block title %}
  CCN community
{% endblock %}
{% block head %}
{{block.super}}
<style>
  select{
    background-color: transparent;
    outline: none;
    padding: 4px;
    padding-left: 10px;
    border-radius: 10px;
  }
  input{
    background-color: transparent;
    outline: none;
    padding: 4px;
    padding-left: 10px;
    border-radius: 10px;
  }
  input::placeholder{
    color: black;
  }
</style>
{% endblock %}
{% block content %}
<div class="m-3">
    <div class="row m-3">
        <select class="col-3 mx-2" name="searchOption" id="searchOption">
            <option value="session">Session</option>
            <option value="department">Department</option>
        </select>
        <input class="col-3 mx-2" placeholder="Search here ..." name="searchKey" id="searchKey" onkeyup="updateTable()">
    </div>
    <table class="table table-success table-striped m-3 table-hover m-auto" id="alumniTable"
        style="width: 98%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Name</th>
                <th>Session</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                      <img height="200" width="270" src="{{user.studentIdPhoto.url}}" alt="alter"> 
                     </td>
                    <td>
                      {% if user.fullName %}
                          {{ user.fullName }}
                      {% else %}
                          {{ user.user.username }}
                      {% endif %}
                    </td>
                    <td>{{user.session}}</td>
                    <td>{{user.department}}</td>
                    <td class="align-middle">
                        {% if request.session.username != user.user.username %}
                        <a class="btn btn-danger" href="delete/{{user.id}}">Delete</a>
                        {% if user.user.is_superuser %}
                        <a class="btn btn-warning" href="update_admin/{{user.id}}">Admin -</a>
                        {% else %}
                        <a class="btn btn-info" href="update_admin/{{user.id}}">Admin +</a>
                        {% endif %}
                        {% else %}
                        You can't do any action
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
  function updateTable() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    var searchOption = document.getElementById('searchOption').value;
    var column = (searchOption==='session'?1:2);
    input = document.getElementById("searchKey");
    filter = input.value.toUpperCase();
    table = document.getElementById("alumniTable");
    
    tbody = table.getElementsByTagName("tbody")[0];
    tr = tbody.getElementsByTagName("tr");

    console.log(filter,column);
      // Loop through all table rows, and hide those that don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[column]; 
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  </script>
{% endblock %}