{% extends "master.html" %}

{% block title %}
routine
{% endblock %}
{% block content %}
{% include 'academic_header' %}

<div class="row">
  
  <div class="col-3 col_color p-3 text-center" style="height: auto;">
    <input class="border-0 m-2 rounded-3" style="width: 100%;" type="text"
      id="myInput"
      onkeyup="myFunction()" placeholder="Search for Department..">
    <ul class="list-unstyled text-start" id="sortable-list">
      <li> <a class="nav-link" href="#Computer Science ">Computer Science</a></li>
      <li><a class="nav-link" href="#Law ">law</a></li>
      <li><a class="nav-link" href="#Pharmacy ">Pharmacy</a></li>
    </ul>
  </div>
  
  <div class="col-9  p-3 text-center">
    {% if request.user.is_superuser %}
    <div class="text-end">
      <button type="button" class="btn btn-sm btn-info mx-3" data-bs-toggle="modal"
      data-bs-target="#add_syllabus">Add Syllabus</button>
    
  </div>
  {%endif%}
    <div id="Computer Science" class="card text-dark bg-light m-4"
      style="max-width:100%; ">
      <div class="card-header d-inline-flex ">
        <div class="flex-fill">Computer Science</div>

      </div>

      <div class="card m-4 p-3">
        <ul id="sortable-list2">
          <li><a href="example1.pdf" target="_blank">2019</a></li>
          <li><a href="example2.pdf" target="_blank">PDF Document 2</a></li>
          <li><a href="example3.pdf" target="_blank">PDF Document 3</a></li>
          <!-- Add more PDF links as needed -->
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- modal -->
<div class="modal fade" id="add_syllabus" tabindex="-1"
  aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Add the Syllabus with session</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="{% url 'academic' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for ='dept' class="form-label">Department Name:</label>
            <select class="form-control" id="dept" name="dept">
              <option value="">Select</option>
              {% for dept in department_list %}
                  <option value="{{dept.department}}">{{dept.department}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group my-2">
            <label class="form-label" for="session">Session:</label>
            <input type="text" class="form-control" name="session" required>
          </div>
          <div class="form-group my-2">
            <label class="form-label" for="pdfFile">Choose a PDF file:</label>
            <input type="file" class="form-control-file" id="pdfFile" name="pdfFile" required>
          </div>
          <div class="text-center m-3">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function myFunction() {
      // Get input element and filter value
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById('sortable-list');
      li = ul.getElementsByTagName('li');

      // Loop through all list items and hide those that don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
    function myFunction2() {
      // Get input element and filter value
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search_available');
      filter = input.value.toUpperCase();
      ul = document.getElementById('sortable-list2');
      li = ul.getElementsByTagName('li');

      // Loop through all list items and hide those that don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
    
  
  </script>
{% endblock %}