{% extends "master.html" %}

{% block title %}
tutorial
{% endblock %}
{% block content %}
{% include 'academic_header.html' %}

<div class="row">
  
  <div class="col-3 col_color p-3 text-center" style="height: auto;">
    <input class="border-0 m-2 rounded-3" style="width: 100%;" type="text"
      id="myInput"
      onkeyup="myFunction()" placeholder="Search for Department..">
    <ul class="list-unstyled text-start" id="sortable-list">
      
        {% for dept in depts %}
        <li><a class="nav-link" href="#{{ dept.department }} ">{{ dept.department }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-9  p-3 text-center">
      {% if request.user.is_authenticated %}
      <div class="text-end">
        <button type="button" class="btn btn-sm btn-info mx-3" data-bs-toggle="modal"
        data-bs-target="#tutorial">Add tutorial</button>
      </div>
      {%endif%}
      
      {% for dept, dept_tutorials in tutorials.items %}
      <div id="{{ dept }}" class="card text-dark bg-light m-4" style="max-width:100%;">
          <div class="card-header d-inline-flex">
              <div class="flex-fill">{{ dept }}</div>
          </div>
          <div class="card">
            <table class="table table-striped">
              <tr class="bg-info">
                <th>Topic</th>
                <th>Course name</th>
                <th>Course code</th>
                <th>Source</th>
                <th>Action</th>
              </tr>
              {% for tut in dept_tutorials %}
              <tr>
                <td>{{tut.title}}</td>
                <td>{{tut.course_name}}</td>
                <td>{{tut.course_code}}</td>
                <td><a href="{{tut.video_url}}" target="_blank">Video</a></td>
                <td>
                  <form action="{% url 'tutorial' %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="id" value="{{tut.id}}"  hidden>
                    <button class="border-0 bg-light text-danger fw-bold">Delete</button>
                  </form>                
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
      {% endfor %}
  
  </div>
</div>

<!-- modal -->
<div class="modal fade" id="tutorial" tabindex="-1"
  aria-labelledby="addLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Add the tutorial</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="{% url 'tutorial' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="mb-3">
            <label for ='dept' class="form-label">Department Name: </label><a href="{% url 'new_dept' %}" target="_blank">New department</a>
            <select class="form-control" id="dept" name="dept" required>
              {% for dept in depts %}
                  <option value="{{dept.department}}">{{dept.department}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="course_name" class="form-label">Course Name:</label>
            <input type="text" class="form-control" id="course_name" name="course_name" required>
          </div>
          <div class="mb-3">
            <label for="course_code" class="form-label">Course Code:</label>
            <input type="text" class="form-control" id="course_code" name="course_code" required>
          </div>
          <div class="form-group my-2">
            <label class="form-label" for="faculty">Course teacher:</label>
            <input type="text" class="form-control" name="faculty" >
          </div>
          <div class="mb-3">
            <label for="video_url" class="form-label">Video URL (youtube):</label>
            <input type="url" class="form-control" id="video_url" name="video_url">
          </div>
          <div class="text-center m-3">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function myFunction() {
      // Get input element and filter value
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById('sortable-list');
      li = ul.getElementsByTagName('li');

      // Loop through all list items and hide those that don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
    function myFunction2() {
      // Get input element and filter value
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search_available');
      filter = input.value.toUpperCase();
      ul = document.getElementById('sortable-list2');
      li = ul.getElementsByTagName('li');

      // Loop through all list items and hide those that don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = '';
        } else {
          li[i].style.display = 'none';
        }
      }
    }
    
  
  </script>
{% endblock %}